In [3]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder ,OneHotEncoder
import pickle

In [4]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# preprocess the data 
data = data.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [6]:
# encode catogrical data into numerica
label_encoder_gender= LabelEncoder()
data["Gender"]= label_encoder_gender.fit_transform(data["Gender"])

In [7]:
#one hot encoder "Geography"
onehot_encoder_geo= OneHotEncoder(handle_unknown="ignore")
geo_encoded = onehot_encoder_geo.fit_transform(data[["Geography"]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns = onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
 # cobine one_hot encoded colums with original data
data = pd.concat([data.drop("Geography",axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into feature and target
X= data.drop("EstimatedSalary",axis=1)
y=data["EstimatedSalary"]

In [10]:
## split the data in traing and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## Scale these fetaures
scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
# save the encoder and scaler for late ruse 
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open ("onehot_encoder_geo.pkl","wb") as file:
    pickle.dump(onehot_encoder_geo,file)

with open ("scaler.pkl","wb") as file:
    pickle.dump(scaler,file  )

## ANN Regresssion Problem statement

In [14]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
# Build the model
model = Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    Dense(32, activation="relu"),
    Dense(1)  #Output layer for regression 
])

## compile the model
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

WARNING:tensorflow:From c:\Users\Laxit\Desktop\ANN_Project\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# set up tensor board 
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback= TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
# set up early stopping 
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [19]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Laxit\Desktop\ANN_Project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Laxit\Desktop\ANN_Project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100379.2578 - mae: 100379.2578 - val_loss: 98514.4219 - val_mae: 98514.4219
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99585.3594 - mae: 99585.3594 - val_loss: 96883.9922 - val_mae: 96883.9922
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96728.7812 - mae: 96728.7812 - val_loss: 92624.0625 - val_mae: 92624.0625
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 91036.2812 - mae: 91036.2812 - val_loss: 85557.5781 - val_mae: 85557.5781
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 82786.5938 - mae: 82786.5938 - val_loss: 76460.4531 - val_mae: 76460.4531
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 73291.8750 - mae: 73291.8750 - val_loss: 67331.4141 - val_mae: 67331.4141
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 64351.1406 - mae: 64351.1406 - val_loss: 59707.6484 - val_mae: 59707.6484
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 57634.7461 - mae: 57634.7461 - val_loss: 54657.4883 - val_mae: 54657.4883
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 53535.8047 - mae: 53535.8047 - val_loss: 52092.1758 - val_mae: 52092.1758
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 51502.9648 - mae: 51502.9648 - val_loss: 51107.2109 - val_mae: 51107.2109
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50720.3359 - mae: 50720.3359 - val_loss: 50808.0664 - val_mae: 50808.0664
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50394.1641 - mae: 50394.1641 - val_loss: 50680.7188 - val_mae: 50680.7188
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50235.6406 - mae: 50235.6406 - val_loss: 50611.3203 - val_mae: 50611.3203
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50137.4102 - mae: 50137.4102 - val_loss: 50566.5234 - val_mae: 50566.5234
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50067.2070 - mae: 50067.2070 - val_loss: 50525.7656 - val_mae: 50525.7656
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50012.9062 - mae: 50012.9062 - val_loss: 50503.6406 - val_mae: 50503.6406
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 49966.5859 - mae: 49966.5859 - val_loss: 50470.3086 - val_mae: 50470.3086
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49929.9961 - mae: 49929.9961 - val_loss: 50453.4141 - val_mae: 50453.4141
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49893.9062 - mae: 49893.9062 - val_loss: 50434.7773 - val_mae: 50434.7773
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49864.6562 - mae: 49864.6562 - val_loss: 50419.9609 - val_mae: 50419.9609
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49842.4102 - mae: 49842.4102 - val_loss: 50408.9531 - val_mae: 50408.9531
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49814.1836 - mae: 49814.1836 - val_loss: 50398.2461 - val_mae: 50398.2461
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49793.7852 - mae: 49793.7852 - val_loss: 50385.4141 - val_mae: 50385.4141
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49774.5391 - mae: 49774.5391 - val_loss: 50380.1289 - val_mae: 50380.1289
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49754.5859 - mae: 49754.5859 - val_loss: 50371.5000 - val_mae: 50371.5000
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49740.2422 - mae: 49740.2422 - val_loss: 50364.4141 - val_mae: 50364.4141
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49718.7422 - mae: 49718.7422 - val_loss: 50355.9570 - val_mae: 50355.9570
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49701.5664 - mae: 49701.5664 - val_loss: 50344.9805 - val_mae: 50344.9805
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49688.9922 - mae: 49688.9922 - val_loss: 50343.5039 - val_mae: 50343.5039
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49674.6367 - mae: 49674.6367 - val_loss: 50335.0156 - val_mae: 50335.0156
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49663.0273 - mae: 49663.0273 - val_loss: 50336.6172 - val_mae: 50336.6172
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49653.6328 - mae: 49653.6328 - val_loss: 50329.9883 - val_mae: 50329.9883
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49637.6250 - mae: 49637.6250 - val_loss: 50323.7969 - val_mae: 50323.7969
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49627.6289 - mae: 49627.6289 - val_loss: 50321.0859 - val_mae: 50321.0859
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49619.4023 - mae: 49619.4023 - val_loss: 50319.2109 - val_mae: 50319.2109
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49605.6641 - mae: 49605.6641 - val_loss: 50308.3438 - val_mae: 50308.3438
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49596.7969 - mae: 49596.7969 - val_loss: 50313.5781 - val_mae: 50313.5781
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49592.4766 - mae: 49592.4766 - val_loss: 50301.2227 - val_mae: 50301.2227
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49583.1953 - mae: 49583.1953 - val_loss: 50301.1562 - val_mae: 50301.1562
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49570.4219 - mae: 49570.4219 - val_loss: 50312.0039 - val_mae: 50312.0039
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49563.8672 - mae: 49563.8672 - val_loss: 50312.9883 - val_mae: 50312.9883
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49556.9492 - mae: 49556.9492 - val_loss: 50308.0898 - val_mae: 50308.0898
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49549.6953 - mae: 49549.6953 - val_loss: 50308.4766 - val_mae: 50308.4766
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49540.6719 - mae: 49540.6719 - val_loss: 50295.3867 - val_mae: 50295.3867
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49535.2734 - mae: 49535.2734 - val_loss: 50288.2188 - val_mae: 50288.2188
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49529.4492 - mae: 49529.4492 - val_loss: 50291.8281 - val_mae: 50291.8281
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49523.5000 - mae: 49523.5000 - val_loss: 50278.1758 - val_mae: 50278.1758
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49513.0859 - mae: 49513.0859 - val_loss: 50289.0781 - val_mae: 50289.0781
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49510.5625 - mae: 49510.5625 - val_loss: 50288.9727 - val_mae: 50288.9727
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49504.4258 - mae: 49504.4258 - val_loss: 50270.7305 - val_mae: 50270.7305
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49496.6445 - mae: 49496.6445 - val_loss: 50281.8789 - val_mae: 50281.8789
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49496.1289 - mae: 49496.1289 - val_loss: 50281.0117 - val_mae: 50281.0117
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49488.1797 - mae: 49488.1797 - val_loss: 50271.0625 - val_mae: 50271.0625
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49482.5547 - mae: 49482.5547 - val_loss: 50266.6719 - val_mae: 50266.6719
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49475.0391 - mae: 49475.0391 - val_loss: 50284.5703 - val_mae: 50284.5703
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49467.9219 - mae: 49467.9219 - val_loss: 50278.8398 - val_mae: 50278.8398
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49463.7266 - mae: 49463.7266 - val_loss: 50283.4219 - val_mae: 50283.4219
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49461.0273 - mae: 49461.0273 - val_loss: 50276.6484 - val_mae: 50276.6484
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49459.1133 - mae: 49459.1133 - val_loss: 50264.8906 - val_mae: 50264.8906
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49455.2383 - mae: 49455.2383 - val_loss: 50275.7070 - val_mae: 50275.7070
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49449.1289 - mae: 49449.1289 - val_loss: 50281.2852 - val_mae: 50281.2852
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49442.2109 - mae: 49442.2109 - val_loss: 50276.0547 - val_mae: 50276.0547
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49435.2891 - mae: 49435.2891 - val_loss: 50285.4688 - val_mae: 50285.4688
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49432.9805 - mae: 49432.9805 - val_loss: 50285.9883 - val_mae: 50285.9883
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49429.3516 - mae: 49429.3516 - val_loss: 50283.8320 - val_mae: 50283.8320
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 49424.9922 - mae: 49424.9922 - val_loss: 50286.2461 - val_mae: 50286.2461
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49416.6992 - mae: 49416.6992 - val_loss: 50280.6758 - val_mae: 50280.6758
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 49416.1367 - mae: 49416.1367 - val_loss: 50288.6836 - val_mae: 50288.6836
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 49411.5898 - mae: 49411.5898 - val_loss: 50288.0195 - val_mae: 50288.0195

In [20]:
%load_ext tensorboard

In [23]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 19288), started 0:00:31 ago. (Use '!kill 19288' to kill it.)

In [24]:
## Evaluate model on the test date
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test Mae :{test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50264.8906 - mae: 50264.8906
Test Mae :50264.890625

In [25]:
model.save("regression_model.h5")

c:\Users\Laxit\Desktop\ANN_Project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(